@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
    box-sizing: border-box;
    margin: auto;
    padding: 0;
}

li,a{
    font-family: "Montserrat",sans-serif;
    font-weight: 500;
    font-size: 30px;
    color: #edf0f1;
    text-decoration: none;
}
.font{
    font-family: "Montserrat",sans-serif;
    font-weight: 500;
    font-size: 30px;
    color: #edf0f1;
    text-decoration: none;
}
.p{
    background-color: dimgrey;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    align-self: center;
    padding: 30px 10%;
}
.logo{
    cursor: pointer;
}
.nav__links{
    list-style: none;
}
.nav__links li{
    display: inline-block;
    padding: 0px 20px;
}
.nav__links li a{
    transition: all 0.3s ease 0s;
}
.nav__links li a:hover{
    color: #FFFF00;
}